<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
<meta charset="ISO-8859-1" />
<title>My Shop</title>
</head>
<body>
	<th:block th:include="~{home :: header-fragment}"></th:block>
	<h1>All hot drinks :</h1>
	<div class="item-class" th:each="hotDrink : ${hotDrinks}">
		<div th:text="${hotDrink.getName()}"></div>
		<div><img th:src="${hotDrink.getPictureLink()}"/></div>
		<div th:text="|${hotDrink.getPrice()} leva|"></div>
		<div><a class="button" th:href="@{/menu/edit/hot-drink/{id}(id=${hotDrink.getId()})}">Edit</a></div>
		<div><a class="button" th:href="@{/menu/all/hot-drinks/get-single/{id}(id=${hotDrink.getId()})}">View</a></div>
		<div><a class="button">Delete</a></div>
		<br/>
	</div>
</body>
</html>