<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
<meta charset="ISO-8859-1" />
<title>My Shop</title>
</head>
<body>
	<th:block th:include="~{home :: header-fragment}"></th:block>	
	<form method="post" th:action="@{/menu/edit/hot-drink/{id}(id=${hotDrink.getHotDrink().getId()})}">
		<label>Name</label>
		<input type="text" name="name" th:value="${hotDrink.getHotDrink().getName()}"/>
		<label>Picture Link</label>
		<input name="pictureLink" type="text" th:value="${hotDrink.getHotDrink().getPictureLink()}" />
		<label>Base Ingredient</label>
		<select name="baseIngredient">
			<th:block th:each="ing : ${hotDrink.getAllBaseIngredients()}" th:switch="${ing.getName()}">
				<option th:case="${hotDrink.getHotDrink().getBaseIngredient().getName()}" th:value="${ing.getName()}" th:text="${ing.getName()}" selected></option>
				<option th:case="*" th:value="${ing.getName()}" th:text="${ing.getName()}"></option>
			</th:block>
		</select>
		<fieldset>
			<legend>Additional ingredients</legend>
			<div th:each="ing : ${hotDrink.getAllAdditionalIngredients()}" th:with="list = ${hotDrink.getHotDrink().getAdditionalIngredients()}">
				<input th:if="${#lists.contains(list, ing)}" type="checkbox" th:id="${ing.getName()}" name="additionalIngredients" th:value="${ing.getName()}" checked>
				<input th:unless="${#lists.contains(list, ing)}" type="checkbox" th:id="${ing.getName()}" name="additionalIngredients" th:value="${ing.getName()}">				
				<label th:for="${ing.getName()}" th:text="${ing.getName()}"></label>
			</div>
		</fieldset>
		<input type="submit" value="Edit Hot Drink"/>
	</form>
</body>
</html>